.container {
  width: calc(100vw - 20px); /* Subtracting 20px padding on left and right */
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #bce0fd;
  box-sizing: border-box;
  color: #2699fb;
  background-color: white;
}

.activityName,
.questionNumber,
.question,
.answers,
.roundTitle {
  padding: 20px;
  text-align: left;
}

.questionNumber {
  margin-top: 20px;
}

.question {
  border-top: 1px solid #bce0fd;
  border-bottom: 1px solid #bce0fd;
  margin-top: 10px;
}

.answers {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
}

.answers div {
  border: none;
  background: none;
}

.container.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

.container.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500%);
  }
}
