body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f1f9ff;
}

.home-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #bce0fd;
  background-color: white;
}

.home-container.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

.home-container.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
}

.line {
  border-bottom: 1px solid #bce0fd;
}

.results {
  color: #2699fb;
  text-align: center;
  cursor: pointer;
}

.text-container {
  padding: 1rem 3rem;
}

.title {
  color: #2699fb;
  text-align: center;
}

.text-blue {
  color: #2699fb;
  text-align: center;
  cursor: pointer;
}

.text-gray {
  color: gray;
  text-align: center;
  cursor: not-allowed;
}

@keyframes slideIn {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500%);
  }
}
