body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #52afec;
}

.line {
  border-bottom: 1px solid #52afec;
}

.results {
  color: #52afec;
  text-align: center;
  cursor: pointer;
}

.text-container {
  padding: 1rem;
}

.title {
  color: #52afec;
  text-align: center;
}

.text-blue {
  color: #52afec;
  text-align: center;
  cursor: pointer;
}

.text-gray {
  color: gray;
  text-align: center;
  cursor: not-allowed;
}
